In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams

In [2]:
data = pd.read_csv("AirPassengers.csv")

In [3]:
data["Month"] = pd.to_datetime(data["Month"], infer_datetime_format = True)

In [4]:
indexedDataSet = data.set_index(["Month"])

In [5]:
indexedDataSet

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121
...                 ...
1960-08-01          606
1960-09-01          508
1960-10-01          461
1960-11-01          390
1960-12-01          432

[144 rows x 1 columns]

In [7]:
from datetime import datetime

In [9]:
indexedDataSet.head(5)

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121